amqp==2.2.2
billiard==3.5.0.3
celery==4.1.0
certifi==2017.11.5
chardet==3.0.4
Django==2.2.24
django-send-email==0.1.0
facebook-sdk==2.0.0
future==0.16.0
geolocation-python==0.2.2
geopy==1.11.0
gunicorn==19.7.1
httplib2==0.10.3
idna==2.6
kombu==4.1.0
lib==3.0.0
nltk==3.2.5
numpy==1.13.3
oauth2==1.9.0.post1
oauthlib==2.0.6
pbr==3.1.1
psycopg2==2.7.3.2
python-twitter==3.3
pytz==2017.3
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
stevedore==1.28.0
stripe==1.79.1
textblob==0.15.0
urllib3==1.22
vine==1.1.4
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.8.2
whitenoise==3.3.0

